.container {
    overflow: hidden; /* Clear float */
  }
  
  .Cadastro, .Login {
    float: left;
    width: 50%; /* Ambas as divs ocupam metade da largura */
    box-sizing: border-box; /* Inclui padding e border na largura */
    padding: 20px;
    text-align: center;
    background-color: #f0f0f0; /* Cor de fundo das divs */
  }